<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navcontainer">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/portfolio">ItemSettings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="welcome-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/The_Great_Wave_off_Kanagawa.jpg" alt="Admin Logo" width="250">
        <h1>Admin Page</h1>
    </div>
    <div class="form-container">
        <form action="/assignAdminRole" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter username">
            </div>
            <button type="submit" class="submit-btn">Assign Admin Role</button>
        </form>
    </div>
    <footer> &copy; Kaskyrbayev Mukhammed SE-2210 </footer>

</body>
</html>
